<head>
  <style>
  h2 {color:red;}
  </style>
</head>

<h1>Users</h1>


<h3> </h3><br>

<h2 style=(color: red;)><%=flash[:message]%></h2>

<table>
  <% @users.each do |user|%>
  <tr>
    <td id="image-align">
      <a href="<%= user_path(user) %>"><img id="avatar_img" src="<%= user.image %>"/> </a>
    </td>
    <td>
      <%= link_to user.name, user_path(user) %>
    </td>
  </tr>
  <% end %>
</table>
