Hello!

<table>
  <% @user.find_a_match.each do |user| %>
  <tr>
    <td id="image-align">
      <a href="<%= user_path(user) %>"><img id="avatar_img" src="<%= user.image %>"/> </a>
    </td>
    <td>
      <%= link_to user.name, user_path(user) %>
    </td>
  </tr>
  <% end %>
  </table>
