/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  font-family: 'Questrial', sans-serif;
}
 #wrapper {
    width: 975px;
    margin: 0 auto;
    margin-top: -30px;
    border-radius: 10px;
    background-color: #fff8ef;
    padding-left: 25px;
    padding-top: 25px;
}

#header {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: -10px;
  position: relative;
  top: -10px;
  background-color: #778085;
  height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


#navbar {
  position: relative;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 25px;
  color: white;
}

#navbar ul {
  list-style-type: none;
  position: relative;
  margin: -20px;
  margin-left: -45px;
}

#navbar li {

  display: inline;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}


/* SHOW PAGE*/
#profile_img {
  height: 400px;

}

#image-align {
  vertical-align: top;
}

/* USERS PAGE */
#avatar_img {
  height: 150px;
  border-radius: 75px;
}

/* Users/new form style */

.form-style-7 {
  max-width:400px;
  margin:50px auto;
  background:#fff;
  border-radius:2px;
  padding:20px;
  font-family: 'Raleway', sans-serif;
}

.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;
}

.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}


.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}

#interests_form {
  max-width:400px;
  margin:50px auto;
  background:#fff;
  border-radius:2px;
  padding:20px;
  font-family: 'Raleway', sans-serif;
  display: block;
  padding: 9px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}




 #interests_form > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;

}

#interests_form > label{
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}


/* LINKS */

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}


</style>
