<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find a Date</title>
    <style>
      /*body {
        background-image: url("https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F83fc83c0-a71c-4caf-8f35-dc03798774bd.jpg");
      }*/
      .wrapper {
        width: 500px;
        height: 300px;
        margin: 0 auto;
        margin-top: 90px;
        border-radius: 10px;
        background-color: #fff8ef;
        opacity: 0.6;
        filter: alpha(opacity=60);
        padding-left: 25px;
        padding-top: 25px;
      }

  </style>

  </head>
  <body>
    <div>
      <h1 id="welcome">Welcome to Find a Date </h1>
      <a href='/sessions/new'/>
        <div id="SignIn">
        <p>Log In</p>
        </div>
      </a>

      <a href='/users/new'/>
        <div id="SignUp">
          <p>Sign Up</p>
        </div>
      </a>

    </div>
  </body>
</html>
