<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find a Date</title>

  </head>
  <body>
    <div class="main-wrapper">
      <h1 id="welcome">Welcome to <br/>Find a Date </h1>
      <a href='/sessions/new'/>
        <div id="SignIn">
        <p id="log-sign-button">Log In</p>
        </div>
      </a>

      <a href='/users/new'/>
        <div id="SignUp">
          <p id="log-sign-button">Sign Up</p>
        </div>
      </a>

    </div>
  </body>
</html>
